<h3>Completed Rides</h3>
<table>
  <tr>
    <th>Driver</th>
    <th>Pickup</th>
    <th>Dropoff</th>
    <th>Passengers</th>
    <th>Requested Time</th>
    <th>Accepted Time</th>
    <th>Pickup Time</th>
    <th>Dropoff Time</th>
    <th>Cost</th>
  </tr>
  <% current_rider.completed_rides.each do |ride| %>
    <tr>
      <td><%= ride.driver_name %></td>
      <td><%= ride.pickup %></td>
      <td><%= ride.dropoff %></td>
      <td><%= ride.passenger_number %></td>
      <td><%= ride.created_at %></td>
      <td><%= ride.accepted_time %></td>
      <td><%= ride.pickup_time %></td>
      <td><%= ride.dropoff_time %></td>
      <td>$<%= ride.cost %></td>
    </tr>
  <% end %>
</table>
