<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Goober" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Goober", root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_driver %>
          <li><%= link_to "Logout", driver_logout_path, method: :delete %></li>
        <% elsif current_rider %>
          <li><%= link_to "Logout", rider_logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Driver Login", driver_login_path %></li>
          <li><%= link_to "Rider Login", rider_login_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <% flash.each do |key, value| %>
    <div class="row alert alert-<%= key %>"><%= value %></div>
  <% end %>

    <%= yield %>
  </body>
</html>
